@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.required:after {
  content: "*";
  color: red;
}

.dx-datagrid-text-content{
  @apply font-semibold font-robot uppercase  text-black 
}

.dx-icon-trash {
  @apply text-red-600 cursor-pointer !important;
}
/* @media (-webkit-device-pixel-ratio: 2) {
  * {
    zoom: 98%;
  }
} */

.dx-icon-clear {
  @apply text-red-600 cursor-pointer  !important;
}

.dx-icon-undo {
  @apply text-green-600 cursor-pointer  !important;
}

